<p>List of companies in database</p>
<ul>
  <% @company.each do |company| %>
  <li><%= company.name %></li>
  <% end %>
</ul>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>TICKER</th>
      <th scope='col'>SHARES</th>
      <th scope='col'>PRICE</th>
      <th scope='col'>CHANGE</th>
      <th scope='col'>AVERAGE COST</th>
      <th scope='col'>PROFIT/LOSS</th>
      <th scope='col'>DIVIDEND YIELD</th>
      <th scope='col'>YIELD ON COST</th>
      <th scope='col'>ANNUAL INCOME</th>
      <th scope='col'>misc</th>
    </tr>
  </thead>
