<% if current_user %>
  <div class="account_info">
    <ul>
      <li><%= link_to "All Portfolios", root_path %></li>
      <% @account.each do |account| %>
        <li><%= link_to account.account_name, root_path %></li>
      <% end %>
      <li><%= link_to "Add Account", new_account_path %></li>
    </ul>
  </div>
  <div class="account_holding">
    <%= link_to "Add Holding", new_account_holding_path, class: 'btn btn-primary' %>
  </div>
<% end %>



<%#if current_user.accounts == nil %>
<%#else %>
<%# link_to "Add Account", new_account_path, class: 'btn btn-primary' %>
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>TICKER</th>
      <th scope='col'>SHARES</th>
      <th scope='col'>PRICE</th>
      <th scope='col'>CHANGE</th>
      <th scope='col'>AVERAGE COST</th>
      <th scope='col'>PROFIT/LOSS</th>
      <th scope='col'>DIVIDEND YIELD</th>
      <th scope='col'>YIELD ON COST</th>
      <th scope='col'>ANNUAL INCOME</th>
      <th scope='col'>misc</th>
    </tr>
  </thead>
  <tbody class='table-striped'>
    <%# @company.account_holdings.each do |company| %>
      <%#@company.each do |company| %>
        <tr>
          <td><%# link_to company.symbol, company_analysis_path %></td>
          <td><%# company.symbol %></td>
          <td><%# company.account_holdings.sum(:shares) %></td>
          <td><%# company.price_history_dailies.last.close %></td>
          <td></td>
          <td><%# company.account_holdings.average(:cost_per_share) %></td>
          <td></td>
          <td><%# company.dividend_yield %></td>
          <td></td>
          <td><%# company.dividend_per_share %></td>
          <td></td>
        </tr>
        <%#end %>
  </tbody>
</table>
<%#end %>
