<h1>This is the test page</h1>

<!-- <button 
  class="btn btn-lg btn-danger"
  data-bs-toggle="popover"
  type="button"
  data-bs-content='Amazing content, right?'
  title="Popover title">
  Click to toggle popover
</button> -->


<!-- <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%# render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div> -->
