<h1>Editing account holding</h1>

<%= render "form", account_holding: @account_holding %>

<br>

<div>
  <%= link_to "Show this account holding", @account_holding %> |
  <%= link_to "Back to account holdings", account_holdings_path %>
</div>
