<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">You don't have an account set up yet!</p>
  <%= link_to "Add Account", new_account_path, class: 'btn btn-primary' %>
</div>
